body {
  background: rgb(252, 252, 252);
}
.price-calculator {
  width: 60rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: "main site";
  background-color: #ffffff;
  border: solid 0.1rem gray;
  border-radius: 1rem;
}
.main-container {
  grid-area: main;
}
.good-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: "goods goods goods goods" "goods goods goods goods" "goods goods goods goods";
}
.goods {
  grid-area: "goods";
  width: 7rem;
  height: 3rem;
  border: solid 0.1rem rgb(175, 175, 175);
}
.order-container {
  grid-area: site;
}
.price-container {
  display: flex;
  justify-content: space-between;
}
