* {
  /* padding: 0;
  margin: 0; */
}
.body {
  background-color: rgb(238, 238, 238);
  height: 100vh;
}
.frame {
  border: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  /* gap: 2rem; */
}
.body-section {
  padding: 1.5rem;
  height: auto;
  width: auto;
  display: grid;
  justify-content: center;
  border: 0.1rem solid rgba(99, 99, 99, 0.274);
  box-shadow: 0 0.1rem 0.1rem 0.1rem rgba(172, 172, 172, 0.226);
  border-radius: 10px;
  grid-template-columns: 40rem 10rem;
  grid-template-areas:
    "price-calculator order-container"
    "price-calculator order-container";
}
.goods-container {
  grid-area: "price-calculator";
  background-color: aqua;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "goods goods goods goods"
    "goods goods goods goods"
    "goods goods goods goods"
    "goods goods goods goods";
}
.goods {
  text-align: center;
  align-self: center;
  grid-area: "goods";
  border: solid 0.02rem black;
  border-radius: 8%;
  width: 6rem;
  height: 3rem;
}
.action-container {
  grid-area: "action-container";
  background-color: rgb(238, 255, 0);
}
.order-container {
  grid-area: "order-container";
  background-color: brown;
}
.header {
  font-weight: bold;
}
