body {
  background: rgb(252, 252, 252);
}
.price-calculator {
  width: 60rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: "main site";
  background-color: #ffffff;
  border: solid 0.1rem gray;
  border-radius: 1rem;
}
.main-container {
  grid-area: main;
}
.order-container {
  grid-area: site;
}
.price-container {
  display: flex;
  justify-content: space-between;
}
